.body {
  width: 100%;
  height: 100vh;
  background-color: rgb(78, 76, 76);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  margin: 0;
}

.title {
  font-size: 45px;
  color: aliceblue;
  margin-bottom: 20px;
}

.detailContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: aliceblue;
  border-radius: 12px;
  padding: 20px;
}

.inputfield {
  width: 350px;
  height: 50px;
  border-radius: 8px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.qrCodeCanvas {
  padding: 10px;
  border: 1px solid black;
}
